{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Migrations",
            "Fixture",
            "Doctrine",
            "DependencyInjection",
            "Form"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "1.12.x"
        }
    },
    "minMsi": 100.00,
    "minCoveredMsi": 100.00
}
